.crypto-page {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.listt {
    height: 40%;
    width: 40%;
    color: black;
    background-color: rgb(3, 3, 36);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.item {
    // height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}